services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app
    restart: unless-stopped
    # HAPUS atau KOMENTARI baris volume .:/var/www agar vendor di dalam container tidak hilang
    # volumes:
    #   - .:/var/www 
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

networks:
  laravel:
    driver: bridge
