name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/my-laravel-app
            git pull origin main
            
            # Restart & Build monitoring tools
            docker compose up -d --build --remove-orphans
            
            # Berikan izin metrik ke database secara otomatis
            docker compose exec -T db mysql -u root -padmin123 -e "GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'techease_user'@'%'; FLUSH PRIVILEGES;"
            
            # Laravel Standard Commands
            docker compose exec -T app composer install --no-dev --optimize-autoloader
            docker compose exec -T app php artisan migrate --force
            docker compose exec -T app php artisan config:cache